@use '@fontsource/pt-sans/index.css';

:root {
  --color-accent: #ff3e00;
  --color-background: #232429;
  --color-background-active: rgba(0, 0, 0, 0.25);
  --color-text: #929292;
  --color-text-muted: #606060;
  --color-text-active: #fff;
  --color-border: #5b606e;
  --color-border-active: #ffffff;
  --color-border-focus: #a4a4a4;
  --color-border-disabled: #42454f;

  --input-border-radius: 0.25em;
  --input-padding-vertical: 0.5em;
  --input-padding-horizontal: 1em;
  --input-background: rgba(0, 0, 0, 0.5);

  --input-element-padding-vertical: 0.25em;

  --editor-top-offset: 2rem;
}

body {
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
}

a {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  color: var(--color-text);

  &:hover,
  &:focus {
    color: var(--color-text-active);
  }
}
